<div class="container p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow p-3 bg-body rounded">
                <div class="text-center fs-4">Register Page</div>
                <div *ngIf="message" class="text-center text-success">
                  {{ message }}
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <label for="name">Name:</label>
                    <input
                      id="name"
                      formControlName="name"
                      type="text"
                      [ngClass]="{ 'is-invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched }"
                      class="form-control"
                    />
                    <!-- Error message for Name -->
                    <div *ngIf="errorMessages['name']" class="error">
                      <small class="text-danger">{{ errorMessages['name'] }}</small>
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="email">Email:</label>
                    <input
                      id="email"
                      formControlName="email"
                      type="email"
                      [ngClass]="{ 'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched }"
                      class="form-control"
                    />
                    <!-- Error message for Email -->
                    <div *ngIf="errorMessages['email']" class="error">
                      <small class="text-danger">{{ errorMessages['email'] }}</small>
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="phoneno">Phone Number:</label>
                    <input
                      id="phoneno"
                      formControlName="phoneno"
                      type="text"
                      [ngClass]="{ 'is-invalid': registerForm.get('phoneno')?.invalid && registerForm.get('phoneno')?.touched }"
                      class="form-control"
                    />
                    <!-- Error message for Phone Number -->
                    <div *ngIf="errorMessages['phoneno']" class="error">
                      <small class="text-danger">{{ errorMessages['phoneno'] }}</small>
                    </div>
                  </div>
                  
                  <div class="mb-3">
                    <label for="password">Password:</label>
                    <input
                      id="password"
                      formControlName="password"
                      type="password"
                      [ngClass]="{ 'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched }"
                      class="form-control"
                    />
                    <!-- Error message for Password -->
                    <div *ngIf="errorMessages['password']" class="error">
                      <small class="text-danger">{{ errorMessages['password'] }}</small>
                    </div>
                  </div>
                  
                  
                    <button class="btn btn-primary col-md-12" type="submit" [disabled]="registerForm.invalid">Register</button>
                </form>
                  
                
            </div>
        </div>
    </div>
</div>

  