<div class="container p-4">
  <h4 class="text-center">Booking Page</h4>

  <!-- Container 1: Bus Information -->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Bus Information :</h5>
      <div class="row">
        <div class="col">
          <p>Bus Number: {{ busDetails.busNo }}</p>
        </div>
        <div class="col-5">
          <p>From: {{ busDetails.startPlace }} - To: {{ busDetails.destination }}</p>
        </div>
        <div class="col">
          <p>Date: {{ date }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Container 2: Seat Selection -->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Select Your Seats :</h5>
      <div class="seats-container">
        <div class="seats">
          <button *ngFor="let seat of getSeatKeys()"
                  [disabled]="seatMap[seat]"
                  [ngClass]="{'selected': selectedSeatsArray.includes(seat), 
                              'available': !seatMap[seat], 
                              'booked': seatMap[seat]}"
                  (click)="toggleSeatSelection(seat)" class="custom-button">
            {{ seat }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Container 3: Passenger Information and Book Ticket -->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Passenger Information :</h5>

      <!-- Selected Seats and Passenger Names -->
      <div *ngIf="selectedSeatsArray.length > 0" class="mt-3">
        <h6>Selected Seats: {{ selectedSeatsArray.join(', ') }}</h6>
        <div *ngFor="let seat of selectedSeatsArray; let i = index" class="form-group">
          <label for="passengerName{{ i }}">Passenger Name (Seat {{ seat }}):</label>
          <input type="text" id="passengerName{{ i }}" class="form-control" [(ngModel)]="passengerNames[i]" placeholder="Enter passenger name" required>
        </div>
      </div>

      <!-- Total Price -->
      <div class="mt-3">
        <h6>Total Price: ₹{{ totalPrice }}</h6>
      </div>

      <!-- Error Message -->
      <div *ngIf="message" class="alert alert-danger mt-3">{{ message }}</div>

      <!-- Book Ticket Button -->
      <button class="btn btn-primary mt-3" (click)="bookTicket()">Book Ticket</button>
    </div>
  </div>
</div>
