<div class="container p-4">
    <p class="text-center fs-3">Admin Dashboard</p>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total Bus
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total Driver
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total Conductor
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total User
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total Bus
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <div class="card-body text-center">
                    <p class="fs-5">
                        Total Bus
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
