<div class="container p-4">
    <p class="text-center fs-3 text-dark">Admin Dashboard</p>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/view-bus" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Total Bus
                    </p>
                    <p class="fs-4 text-dark">{{bus}}</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/view-driver" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Total Driver
                    </p>
                    <p class="fs-4 text-dark">{{driver}}</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/view-conductor" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Total Conductor
                    </p>
                    <p class="fs-4 text-dark">{{conductor}}</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/view-user" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Total User
                    </p>
                    <p class="fs-4 text-dark">{{user}}</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/view-conductor" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Total Ticket
                    </p>
                    <p class="fs-4 text-dark"></p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow p-2 bg-body rounded">
                <a href="/add-conductor" class="text-decoration-none text-secondary"><div class="card-body text-center">
                    <p class="fs-3">
                        Add Conductor
                    </p>
                    <p class="fs-4 text-dark"></p>
                </div></a>
            </div>
        </div>
    </div>
</div>
