<footer class="container-fluid p-4  text-center text-white">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="jayabilas.png" alt="Bus Logo" style="height: 60px;">
            <p>Discover the world with JayaVilas Travells</p>
        </div>
        <div class="col-md-4 text-center">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="/" class="text-white">Home</a></li>
                <li><a href="/bus" class="text-white">Bus</a></li>
                <li><a href="/user-tickets" class="text-white">Tickets</a></li>
                <li><a href="about" class="text-white">About Us</a></li>
            </ul>
        </div>
        <div class="col-md-4 text-center">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i> Address Line, City, Country</li>
                <li><i class="fas fa-phone-alt"></i> +1 (234) 567-8901</li>
                <li><i class="fas fa-envelope"></i><span> info&#64;srijayaVilas.com</span></li>
            </ul>
        </div>
    </div>
    <hr class="my-4">
    <p class="text-center">© 2024 Sri JayaVilas. All rights reserved.</p>
    <p class="text-center">Designed and developed by Deepak Kumar Panigrahi</p>
</footer>
