<mat-toolbar class="custom-navbar" color="primary">
    <img src="../assets/jayabilas.png" alt="MyBrand Logo" class="navbar-logo">
  
   
  
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/features">Bus</button>
    <button mat-button routerLink="/pricing">Book Ticket</button>
    
    <span class="spacer"></span>
  
    <!-- Sign In and Sign Up buttons on the right side -->
    <button mat-button routerLink="/signin" class="auth-button">Register</button>
    <button mat-raised-button color="accent" routerLink="/signup" class="auth-button">Login</button>
  </mat-toolbar>
  