<div class="container p-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card shadow p-2 bg-body rounded">
                <div class="text-center">
                    <h4>Payment Details</h4>
                </div>
                <p><strong>Passenger Name: </strong>{{ passengerName }}</p>
                <p><strong>Journey Date:</strong> {{date }}</p>
                <p><strong>Seat No.: </strong>{{ seatNumbers }}</p>
                <p><strong>Bus Number: </strong>{{ busNumber }}</p>
                <p><strong>Start Place: </strong>{{ startPlace }}</p>
                <p><strong>Destination: </strong>{{ destination }}</p>
                <p><strong>Time: </strong>{{ departureTime }}</p>
                <p><strong>Amount: </strong>{{ amount }}</p>
    
                <button class="btn btn-success" (click)="payWithRazorPay()">Proceed to Payment</button>
            </div>
        </div>
    </div>
</div>
  
