
<!-- Welcome Section -->
<div class="card bg-dark text-white">
  <img src="homebus.jpg" class="img-fluid" alt="Background image of a bus">
  <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
    <h4 class="welcome-title">Welcome to Sri JayaVilas Travels</h4>
    <p class="card-text slogan">Get Your Ticket Online,</p>
    <p class="card-text slogan">Easy and Safely</p>
    <button class="btn btn-success mt-3" (click)="navigateToTicketPage()">Get Ticket Now</button>
  </div>
</div>

<app-footer></app-footer>


